---
layout: default
title: Full Conference Schedule
permalink: /schedule/
description: DroidYangon 2019 Full Conference Schedule
heading: Full Conference Schedule
sitemap: true
---

<!-- tutorials -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Tutorials: July 9</h2>
    <p class="lead">
       Coming Soon
    </p>
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Sunday' %}
          {% include schedule-tutorials-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- tutorials -->

<!-- talks: day 1 -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Talks: July 9</h2>
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Monday' %}
          {% include schedule-talks-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- talks: day 1 -->
