---
layout: default
title: Tutorials Schedule
permalink: /tutorials/
description: DjangoCon US 2018 Tutorials Schedule
heading: Codelabs Schedule
sitemap: true
---

<!-- tutorials -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Codelabs: Sunday, July 9</h2>
    
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Sunday' %}
          {% include schedule-tutorials-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- tutorials -->
