---
layout: base
heading: Venue
title: Venue
permalink: /venue/
description: |
  DroidYangon 2019 is being held at the Taw Win Garden Hotel, Yangon.
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
  <p class="lead min">
    <a href="https://goo.gl/maps/cUX3XsyyZGo">
      <strong>Taw Win Garden Hotel</strong> <br />
      <small>No.45, Pyay Rd, Yangon 11111</small>
    </a>
  </p>
</header>

<div class="row column v-pad-bottom" id="welcome">
  <div class="medium-7 column">
    <h2>Welcome to Yangon!</h2>
    <p class="lead min">This year's venue is the Taw Win Garden Hotel! Located just 30 minutes from Yangon International Airport and 10 minutes drive to city centre and to the Shwedagon Pagoda.</p>
    <p>On the most prominent road in Yangon the Pyay Road, Dagon Township near to city centre and major cultural attraction of Yangon, Myanmar.</p>
  </div>
  <div class="medium-5 column">
    {% comment %}
    <iframe
      class="thumbnail thumbnail-block"
      width="600"
      height="380"
      frameborder="0"
      src="https://www.google.com/maps/embed?origin=mfe&pb=!1m3!2m1!1sTaw+Win+Garden+Hotel!6i13" allowfullscreen></iframe>
    {% endcomment %}

    <a
      class="hide-for-smedium-only"
      href="https://goo.gl/maps/cUX3XsyyZGo"
      target="_blank">
      <img
        class="thumbnail thumbnail-block"
        width="600" src="https://maps.googleapis.com/maps/api/staticmap?scale=false&zoom=16&size=600x380&maptype=roadmap&key=AIzaSyAkR482-Miiq0im5D1AEBT8AIbP1nY61RM&format=png&visual_refresh=true&markers=size:mid|color:0xe65b00|label:1|16.785245,96.142561"
        alt="Google Map of Taw Win Garden Hotel">
    </a>
    <p class="medium-text-center">
      <a
        class="button hollow theme-violetred"
        href="https://goo.gl/maps/cUX3XsyyZGo" target="_blank">View Larger Map</a>
    </p>
  </div>
</div>


<section class="section-pad theme-medium-gray" id="hotel">
  <div class="row column">
    <div class="medium-6 column hide-for-small-only">
      <!-- TODO: update image -->
      <img
        class="thumbnail thumbnail-block"
        src="/static/img/venue.jpg"
        alt="San Diego Marriott of Mission Valley" />
    </div>
    <div class="medium-6 column">
      <h2>Staying at the Taw Win Garden Hotel</h2>
      <p class="lead min">Since our venue itself at the Taw Win Garden Hotel, the hotel offered special discounts for our guest speakers.</p>

      <ul class="list-split">
        <li>Free Wi-Fi</li>
        <li>180 meters to public transportation</li>
        <li>Short trip to downtown</li>
        <li>Sauna</li>
      </ul>
      <p>Please directly contact to our email.</p>
      
    </div>
  </div>
</section>


<div class="section-pad theme-light-gray" id="places">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Around Yangon</h2>
    <p class="lead column large-10 large-centered text-center">Grab ride sharing service is available. While you're cruising around town, be sure to check out our favorite spots:</p>
  </div>

  {% comment %}
  Beginning of Places Around Yangon...

  To update the information in this section, please see:

    `_data/places.yml`

  {% endcomment %}
  {% if site.places %}
  <section class="row large-up-2 attraction-list">

  {% for places in site.places %}

      <div class="column column-block">
      <div class="media-object stack-for-small attraction">
        <div class="media-object-section hide-for-small-only">
          <a href="{{ places.website }}" target="_blank">
            <img
                class="thumbnail"
                src="{{ places.photo_url }}"
                alt="Photo of {{ places.name }}" />
          </a>
        </div>
        <div class="media-object-section">
          <h3 class="attraction-name">
            <a href="{{ places.website }}" target="_blank">{{ places.name }}</a>
          </h3>
          <p class="attraction-description">
            <strong>Website:</strong> <a href="{{ places.website }}" target="_blank"> {{ places.name }}</a><br>
            <strong>Distance:</strong>  <span class="label">{{ places.distance }} </span><br>
            <strong>Address:</strong> <a href="{{ places.map }}" target="_blank">{{ places.location }}</a>
          <br>
          <i>{{ places.description }}</i></p>
        </div>
      </div>
    </div>

  {% endfor %}
  </section>
  {% endif %}
  {% comment %}
  End of Places Around Yangon...
  {% endcomment %}
</div>

