---
layout: base
---

<header class="header">
  <div class="row">
    <div class="column small-12 medium-6 header-text">
      <h1>Android Developers Conference</h1>

      <div class="row home-eventinfo">
        <span class="column medium-5 large-4 subheading datesyear">
          <strong>July 9th</strong>
          <span class="datesyear-year">2019</span>
        </span>

        <span class="column medium-7 large-8 subheading location">
           <a href="http://www.tawwingardenhotel.com/" target="_blank">@ Taw Win Garden Hotel</a> 
          <strong>Yangon, Myanmar</strong>
        </span>
      </div>
      <br />
      <div class="row">
        <div class="medium-8 column medium-centered text-center">
          <a class="button hollow theme-willow" href="#">Coming Soon</a>
        </div>
      </div>

    </div>
    <div class="column small-12 medium-6 text-center">
      <img
        data-interchange="[{{ "/static/img/droidygn.png" | relative_url }}, small], [{{ "/static/img/droidygn.png" | relative_url }}, medium]"
        alt="YBS and Android"
        class="header-img" width="380" />
    </div>
  </div>
</header>

<div class="home-content">
<section class="section-pad theme-light-gray">
  <div class="row column xlarge-9">
    <p class="lead column large-9 large-centered text-center">Join developers, tech entrepreneurs, and students for one day of sessions, hands-on learning, and community building.</p>

    <div class="date-card medium-4 column">
      <a href="/talks"><div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">July</div>
            <div class="days">9</div>
          </div>
        </div></a>
        <div class="small-7 column">
          <h2 class="date-card-title">Sessions</h2>
          <p>Hear from experts in Android, Firebase, UI/UX & Flutter</p>
        </div>
      </div>
    </div>
    <div class="date-card medium-4 column">
      <a href="/tutorials"><div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">July</div>
            <div class="days">9</div>
          </div>
        </div></a>
        <div class="small-7 column">
          <h2 class="date-card-title">Codelabs</h2>
          <p>From Beginners just starting Android to those looking for a challege, we have something for you all!</p>
        </div>
      </div>
    </div>
    <div class="date-card medium-4 column">
      <a href="/networking"><div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">July</div>
            <div class="days">9</div>
          </div>
        </div></a>
        <div class="small-7 column">
          <h2 class="date-card-title">Office Hours</h2>
          <p>It's your chance to talk with speakers</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-pad theme-shakespeare">
  <div class="row column v-pad-bottom text-center">
    <h2 class="contrast-fix">We can't wait to meet you.</h2>
  </div>
  <div class="row card-row">
    <div class="medium-4 column">
      <div class="card card-theme-eminence">
        <img
          src="{{ "/static/img/hands.svg" | relative_url }}"
          alt="Two hands interlocked"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">DroidYangon</h3>
          <p>First time bring an Android conference where engineers take the leading role. It's filled with exclusive sessions, the latest and greatest in Andorid development, and great engineers like you!</p>
        </div>
      </div>
    </div>
    <div class="medium-4 column">
      {% comment %} TODO: Contrast {% endcomment %}
      <div class="card card-theme-eminence">
        <img
          src="{{ "/static/img/program.svg" | relative_url }}"
          alt="A megaphone producing a loud sound"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Sessions & Codelabs</h3>
          <p>There's something for everyone, from designing app architecture to cross-platform development and everything in between. If you're non-technical, you may still apply.</p>
        </div>
      </div>
    </div>
    <div class="medium-4 column">
      <div class="card card-theme-eminence">
        <img
          src="{{ "/static/img/heart.svg" | relative_url }}"
          alt="A heart"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Code of Conduct</h3>
          <p>Participants are expected to be respectful to each other. For details on our expectations, and who to contact if you need assistance, see our code of conduct.</p>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="news-section section-pad theme-light-gray back">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Latest News</h2>
  </div>

  <div class="news row">
    {% for post in site.posts limit:12 %}
      {% unless post.hidden %}
      <article class="news-title medium-4 column">
        <div class="card {% if post.category == "Sponsorship" %}card-theme-violetred{% else %}card-theme-orchid{% endif %}">
          <div class="card-section">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h3>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h3>
          </div>
        </div>
      </article>
      {% endunless %}
    {% endfor %}
  </div>

  <div class="row v-pad-top">
    <div class="medium-4 column medium-centered text-center">
      <a class="button hollow theme-willow" href="/news/">Read More News</a>
    </div>
  </div>
</section>

{% include sponsor-footer.html %}

</div><!-- end .content -->
